* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PTSans';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'NotoSerif'
}

.wrapper {
	width: 100vw;
	height: 100vh;
	position: relative;
	background-image: url('../img/bg.png');
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper:after {
	display: block;
	content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    background: linear-gradient(to bottom, transparent 0%, rgba(228, 208, 170, 0.6) 100%);
}

.header {
	font-size: 42px;
	color: #70563d;
	text-transform: uppercase;
	margin-bottom: 71px;
	font-weight: normal;
}

.rooms-and-prices {
	display: flex;
	flex-wrap: wrap;
}

.room {
	background-color: #fff;
}

